# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
dolp/
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# Django
*.log
*.pot
*.pyc
*.swp
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
