<!DOCTYPE html>
<html>
<head>
    <title>My Online Learning Platform</title>
</head>
<body>

    <header>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                <a href="{% url 'register' %}" class="nav-link">Register</a>
            {% endif %}
            <h1>Welcome to OLP</h1>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        &copy; 2024 Online Learning Platform
    </footer>

</body>
</html>
